@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
}

.header {
  @apply flex h-[80px] z-50 border-b-gray-700 md:items-center md:justify-evenly justify-between px-7 py-3 sticky bg-transparent shadow-lg;
}
